################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Atech.ConsoleApp/Atech.ConsoleApp/bin/Debug/netcoreapp2.2
/src/Atech.ConsoleApp/Atech.Tests/Atech.Tests/bin/Debug/netcoreapp2.2
/src/Atech.ConsoleApp/Atech.ConsoleApp/obj
/src/Atech.ConsoleApp/Atech.Tests/Atech.Tests/obj
*.rar
